---
---
<!DOCTYPE html>
<html lang="{{site.lang}}">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <h1>{{site.shortname}}</h1>
        <h3>{{site.fullname}}</h2>

        <p>{{site.subline}}</p>

        <strong>{{site.where}}</strong>, {{site.when}}
      </div>

      <!-- Description -->
      {% for paragraph in site.description %}
        <p class="lead"> {{ paragraph }} </p>
      {% endfor %}

      <!-- Scope -->
      <h3> Scope of {{ site.shortname }} </h3>
      <p> {{site.scopeHead}} </p>
      <ul>{% for topic in site.scope %}
        <li>{{ topic[0] }}</li>
        <ul>{% for subtopic in topic[1] %}
          <li>{{ subtopic }}</li>
        {% endfor %}</ul>
      {% endfor %}</ul>


      <!-- Submission and deadlines -->
      <h3> Submission and deadlines </h3>
      {% for paragraph in site.submission %}
        <p> {{ paragraph }} </p>
      {% endfor %}

      <dl class="dl-horizontal">{% for deadline in site.deadlines %}
        <dt>{{deadline[1]}}</dt>
        <dd>{{deadline[0]}}</dd>
      {% endfor %}</dl>

      <!-- Chairs -->
      <h3> Workshop Chairs </h3>
      {% for person in site.chairs %}
        <img src="photos/{{person.mail}}.png" class="img-thumbnail" width="240px">
        <h4> {{ person.name }} </h4>
        <h5> {{ person.affiliation }}</h5>
        <h6> {{ person.mail }}</h6>
        <p> {{person.bio}} </p>
      {% endfor %}

      <!-- Committees -->
      {% for committee in site.committees %}
        <h3> {{ committee[0] }} </h3>
        <ul>{% for person in committee[1] %}
          <li>{{person}}</li>
        {% endfor %}</ul>
      {% endfor %}
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
